<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75"
      src="https://media.istockphoto.com/vectors/smile-icon-happy-face-symbol-vector-id932022178"
      alt="Imagem de capa do card">
  </div>

  <div class="card-body ">
    <h5 class="card-title text-center text-monospace">{{nome}}</h5>
    <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e
      fazerpreencher o conteúdo do card.</p>
    <div class="d-flex justify-content-center">
      <a href="" class="btn btn-outline-info md-3" target="_blank">LinkedIn</a>

      <a href="" class="btn btn-outline-dark" target="_blank">GitHub</a>
    </div>
  </div>
</div>